
body {
  background: $white;
}

.nfl-week {

  // this is a UL
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 750px;
}

.nfl-game {
  // this is the LI inside of .nfl-week
  border-bottom: 1px solid $gray;
  font-size: .85em;
  padding: .25em 0;

  &:last-child {
    border-bottom: 0;
  }

  & > span {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
  }

  .team,
  .logo,
  .score,
  .clock,
  .points {
    width: 10%;
    align-self: center;
    text-align: center;
    padding: .25em .5em;
    line-height: 1em;
  }

  label {
    width: 30%;
    display: flex;
    align-items: flex-start;
    margin: 0;
    border-radius: .5em;
    border: 4px solid $white;

    .team {
      width: 66.666666%;
    }

    .logo {
      width: 33.333333%;
    }
  }

  input[type='radio'] {
    display: none;
  }

  input {
    &[type='radio'] {
      display: none;
    }

    &:checked + label {
      // background: $gray;
      border: 4px solid $gray;
    }
  }

  .logo {
    padding: .5em 0;
  }

  img {
    width: 100%;
    max-width: 36px;
  }

  .away {
    text-align: right;
  }

  .home {
    text-align: left;
  }

  h3 {
    margin-bottom: 0;
    font-size: 1em;
  }

  .lrg {
    display: none;
    font-weight: normal;
  }

  @media (min-width: $medium-size) {

    font-size: 1em;

    .logo {
      padding: 0;
    }

    .lrg {
      display: block;
    }
    .small {
      display: none;
    }
  }
}
