$color-gray: #ccc;
$color-pink: #fcf;
$color-yellow: rgb(255, 219, 0);



// thanks to https://css-tricks.com/star-ratings/
.Rating {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: 28px;

  .RatingOn:hover {

    &:hover {
      cursor: pointer;
    }
    // cursor: pointer;
  }

  .RatingReadonly {
    &:hover {
    //   cursor: auto;
    //   cursor: cell;
    }
  }

  & > span {
    color: $color-gray;
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .RatingOn::before {
    color: $color-yellow;
    content: '\2605';
    left: 0;
    padding: 1px;
    position: absolute;
  }
}
