.home-header {
  height: 100vh;
  color: $white;
  text-align: center;

  .subhead {
    position: absolute;
    left: 0;
    top: 34vh;
    height: 60vh;
    float: left;
    clear: none;
    width: 100%;
    padding: 0 2em;
    // filter: blur(0);

    .fade {
      transition: .7s ease;
    }

    .bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .invisible {
      opacity: 0;
      // filter: blur(5px);
    }

    .circle {
      display: block;
      margin: 0 auto;
      width: pem(35);
      height: pem(35);
      position: relative;
      background: transparent;
      opacity: .7;
      transition: opacity .2s ease;

      &:hover {
        opacity: 1;
      }

      @media($medium-breakpoint) {
        width: pem(50);
        height: pem(50);
      }
    }

    .down-arrow {
      fill: $white;
      cursor: pointer;
    }
  }

}

.page-header-image,
.header-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $black;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & > span {
    position: absolute;
    left: 0;
    top: 0;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    object-fit: cover;
    mask: url('#mask-pattern');
  }

  .placeholder {
    width: 100%;
    opacity: 0;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
  }
}

.welcome-2 {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: $white;

  & > article {
    padding: 3em 0;
  }

  header {
    text-align: center;
    color: $modus-orange;
  }

  .blurbs {
    li {
      display: block;
      width: 100%;
      max-width: pem(500);
      margin: 0 auto pem(10);
      padding: 4em 0 0 3em;
      position: relative;
      // background-fill: $modus-orange;
      background-repeat: no-repeat;
    }

    .blurb-circle {
      position: absolute;
      left: 0;
      top: 0;
      fill: $modus-orange;
    }

    h1,
    p,
    .highlight {
      opacity: 0;
    }

    h1 {
      transition: opacity 1s ease;
    }

    p,
    .highlight {
      transition: opacity 2s ease;
      // background: $white;
      // padding: 0 0.125em;
    }

    .showing {
      h1,
      p,
      .highlight {
        opacity: 1;
      }
    }
  }

  @media($medium-breakpoint) {
    .blurbs {
      @include grid-container;

      li {
        @include grid-column(4);
      }
    }
  }
}
