.home-header {
  height: 100vh;
  color: $white;
  text-align: center;

  h1 {
    width: 100%;
    color: $yellow;
    margin-bottom: .5em;
    font-size: 2.5em;
    line-height: .9em;

    @media($medium-breakpoint) {
      font-size: 3.5em;
    }

    @media($large-breakpoint) {
      font-size: 5em;
    }
  }

  p {
    font-size: 1.2em;
    line-height: .75em;

    @media($medium-breakpoint) {
      font-size: 1.8em;
    }

    @media($large-breakpoint) {
      font-size: 3em;
    }
  }

  i {
    font-size: 2.5em;
    opacity: .6;
    transition: .2s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    @media($large-breakpoint) {
      font-size: 3em;
    }
  }

  .subhead {
    position: absolute;
    left: 0;
    top: 34vh;
    float: left;
    clear: none;
    width: 100%;
    padding: 0 2em;
    // filter: blur(0);

    .fade {
      transition: .7s ease;
    }

    .invisible {
      opacity: 0;
      // filter: blur(5px);
    }
  }

}

.page-header-image,
.header-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $black;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & > span {
    position: absolute;
    left: 0;
    top: 0;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    object-fit: cover;
    mask: url('#mask-pattern');
  }

  .placeholder {
    width: 100%;
    opacity: 0;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
  }
}

.welcome-2 {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: $white;
}
