
$work-items-grid: (
  columns: 1,
  // gutter: 2rem,
);

$work-items-grid-phone-up: (
  columns: 2,
  media: $size-phone-up,
);

$work-items-grid-tablet-up: (
  columns: 3,
  gutter: $grid-margin-main,
  media: $size-tablet-up,
);

.work-items {

  li {
    @include grid-column(1, $work-items-grid);
  }

  @include grid-media($work-items-grid-phone-up) {
    li {
      @include grid-column(1);

      &:nth-child(2n) {
        padding-bottom: $grid-margin-main;
      }

      &:nth-child(2n + 1) {
        clear: left;
      }
    }
  };
  @include grid-media($work-items-grid-tablet-up) {
    li {
      @include grid-column(1);

      &:nth-child(2n + 1) {
        clear: none;
      }

      &:nth-child(3n) {
        padding-bottom: $grid-margin-main;
      }

      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }

}

.work-post {
  .image-with-icon {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .color {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $modus-orange;
    opacity: .4;
    transition: .2s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: $white;
    // animation: rotation 2s infinite linear;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    transition: .75s;

    &:hover {
      width: 51%;
      top: 9.5%;
      left: 24.5%;
    }
  }
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
