::selection {
  background: $modus-orange;
  color: $white;
}

html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 1.4em;
  @media($medium-breakpoint) { font-size: 1.5em; }
  @media($large-breakpoint) { font-size: 1.6em; }
  @media($extra-large-breakpoint) { font-size: 1.7em; }
}

h2 {
  font-size: 1.3em;
  @media($medium-breakpoint) { font-size: 1.4em; }
  @media($large-breakpoint) { font-size: 1.5em; }
  @media($extra-large-breakpoint) { font-size: 1.6em; }
}

h3 {
  font-size: 1.2em;
  @media($medium-breakpoint) { font-size: 1.3em; }
  @media($large-breakpoint) { font-size: 1.4em; }
  @media($extra-large-breakpoint) { font-size: 1.5em; }
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
  @media($medium-breakpoint) { font-size: 1.2em; }
  @media($large-breakpoint) { font-size: 1.3em; }
  @media($extra-large-breakpoint) { font-size: 1.4em; }
}

h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  @media($medium-breakpoint) { font-size: 1.1em; }
  @media($large-breakpoint) { font-size: 1.2em; }
  @media($extra-large-breakpoint) { font-size: 1.3em; }
}

h6 {
  font-style: italic;
}

p {
  font-family: $font-sans-serif;
  margin: 0 0 $small-spacing;
  font-size: 1em;
  @media($medium-breakpoint) { font-size: 1.1em; }
  @media($large-breakpoint) { font-size: 1.2em; }
  @media($extra-large-breakpoint) { font-size: 1.3em; }
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.site-footer {

  p {
    font-family: $base-font-family;
    line-height: 1.4em;
    font-size: .8em;

    @media($medium-breakpoint) {
      font-size: 1em;
    }
  }

  a {
    transition: .2 ease;

    &,
    &:hover {
      color: $light-gray;
    }
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
