// Typography
$base-font-family: 'Roboto Slab', sans-serif;
$heading-font-family: $base-font-family;
$font-sans-serif: 'Roboto', sans-serif;



// grid stuff
$size-phone-up: '(min-width: 450px)';
$size-tablet-up: '(min-width: 768px)';
$grid-margin-main: 1rem;

// Breakpoints
$width-medium: pem(641);
$width-small:  pem(640);

$max-width: pem(1500);
$small-size: pem(720);
$large-size: pem(1140);
$extra-large-size: pem(1350);

$col-reading-width: pem(580);

$medium-breakpoint: 'min-width: ' + $small-size;
$large-breakpoint: 'min-width: ' + $large-size;
$extra-large-breakpoint: 'min-width: ' + $extra-large-size;
$wordpress-small-size: 'max-width: 782px';
$wordpress-large-size: 'min-width: 783px';

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
// $blue: #1565c0;
$gray: #ccc;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$black: #000;
$white: #fff;
$ugly-pink: #fcf;

// $page-bg-color: darken($light-gray, 88%);
// $page-bg-color:  rgb(0, 0, 0);
// $page-bg-color: transparent;
$page-bg-color: rgb(50, 50, 50);

$modus-orange: rgb(241, 93, 34);
$orange: $modus-orange;
$modus-brown: rgb(84, 48, 26);
$brown: $modus-brown;

$modus-blue: rgb(29, 142, 172);
$blue: $modus-blue;
$modus-yellow: rgb(254, 221, 0);
$yellow: $modus-yellow;

$gray-opaque: rgba(0, 0, 0, .1);
$gray-opaque-darker: rgba(0, 0, 0, .7);
$white-opaque: rgba(255, 255, 255, .3);

$color-modal-background: rgba(0, 0, 0, .85);
$color-modal-main-nav: rgba(241, 93, 34, 1);
$color-dog-modal: rgba(50, 50, 50, .95);

$footer-inputs: rgba(255, 255, 255, .2);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, .4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
