$color-white-alpha: rgba(255, 255, 255, .4);
$color-gray-alpha: rgba(0, 0, 0, .7);
$color-gray-alpha-light: rgba(0, 0, 0, .4);
$white: #fff;
$gray: #ccc;
$black: #000;
$red: #c00;
$green: #0c0;


.react-diagnostic,
.react-diagnostic-off {
  position: fixed;
  z-index: 9999;
  left: 2px;
  top: 34px; // to go below WP admin bar
  background: $color-gray-alpha;
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: .25em;
}

.react-diagnostic {
  padding: .5em .75em;
  min-width: 180px;
  box-shadow: 5px 5px 10px $color-gray-alpha-light;

  header {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid $color-white-alpha;
    margin-bottom: .5em;

    i {
      font-size: 1.2em;
      display: block;
      float: right;
      padding: 0 0 .25em .5em;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: $red;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  .modal {
    text-decoration: underline;
    cursor: pointer;
  }
}

.react-diagnostic-off {
  width: 35px;
  height: 32px;
  padding: .25em;
  text-align: center;
  transition: background .2s linear;

  &:hover {
    background: $green;
  }

  &,
  i {
    cursor: pointer;
  }
}
