$button-size: 50px;
$button-size-medium: 60px;

.dog-modal {
  color: $black;

  .site-modal,
  .site-modal-transparent-out {
    background: $color-dog-modal;
  }

  .dog {
    display: block;
    clear: none;
    margin: 15vh auto 3em;
    width: 50em;
    max-width: 80%;
    color: $black;

    img {
      display: block;
      margin: 0 auto;
    }

    h1 {
      padding-top: .5em;
    }

    h1,
    p {
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    .pet-page {
      width: 1em;
    }

    .prev,
    .next {
      position: absolute;
      top: 50vh;
      right: .125em;
      color: $white;
      background-color: $gray-opaque;
      width: $button-size;
      height: $button-size;
      margin-top: -($button-size * .5);

      border-radius: 100%;
      cursor: pointer;
      transition: background .2s linear;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 35%;
        height: 3px;
        border-radius: pem(22);
        background: $white;
      }

      &:hover {
        background-color: $gray-opaque-darker;
      }
    }

    .prev {
      &::before {
        bottom: 39%;
        transform: rotate(30deg);
      }

      &::after {
        top: 39%;
        transform: rotate(-30deg);
      }

      &::before,
      &::after, {
        right: 35%;
        // transition: right .125s ease-in-out;
      }

      // &:hover {
      //   &::before,
      //   &::after, {
      //     right: 44%;
      //   }
      // }
    }

    .next {
      &::before {
        top: 39%;
        transform: rotate(30deg);
      }

      &::after {
        bottom: 39%;
        transform: rotate(-30deg);
      }

      &::before,
      &::after, {
        left: 35%;
        // transition: left .125s ease-in-out;
      }

      // &:hover {
      //   &::before,
      //   &::after, {
      //     left: 44%;
      //   }
      // }
    }
  }

  .prev {
    left: .125em;
  }
}
