.footer-bg {
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.site-footer {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding: $grid-margin-main;
  color: darken($light-gray, 35%);

  h1 {
    text-align: center;
    color: $modus-orange;
  }

  .right-col {
    text-align: right;
  }

  a,
  p,
  .copyright {
    display: block;
    float: right;
    clear: right;
    text-decoration: none;
  }

  a {
    color: darken($light-gray, 35%);
    transition: color .2s ease;

    &:hover {
      color: $light-gray;
    }
  }

  .copyright {
    padding-top: 1em;
  }

  p {
    margin-bottom: 0;
  }
}
