
//config
$menu-items: 3;
$open-distance: 105px;
$opening-angle: 3.14 * 2;

$btn-diameter: 60px;
$btn-padding: $btn-diameter * .125;

$btn-diameter-medium: 80px;
$btn-padding-medium: $btn-diameter-medium * .125;

.gooey-placeholder {
  display: block;
  float: left;
  clear: none;
  width: $btn-diameter + ($btn-padding * 2);
  height: $btn-diameter + ($btn-padding * 2);
}

.gooey-filter {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

.gooey-ui {
  display: block;
  float: left;
  clear: both;
  position: relative;
  overflow: visible;
  width: 0;
  height: 0;
  margin: 0;
  background: $ugly-pink;
  // padding: $btn-padding;
  // width: $btn-diameter + ($btn-padding * 2);
  // height: $btn-diameter + ($btn-padding * 2);

  .menu { // nav
    filter: url('#shadowed-goo');
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: $btn-padding;
    width: $btn-diameter + ($btn-padding * 2);
    height: $btn-diameter + ($btn-padding * 2);
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
  }

  .toggle-nav,
  .menu-item {
    background: $modus-orange;
    border-radius: 100%;
    width: $btn-diameter;
    height: $btn-diameter;
    margin-left: 0;
    position: absolute;
    left: $btn-padding;
    top: $btn-padding;
    color: $white;
    text-align: center;
    line-height: $btn-diameter;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }

  .menu-item {
    cursor: pointer;

    i {
      line-height: $btn-diameter; // override font-awesome's settings
      font-size: ($btn-diameter / 2);
    }

    &:hover {
      background: $white;
      color: $modus-orange;
    }
    @for $i from 1 through $menu-items {
      &:nth-child(#{$i + 2}) {
        transition-duration: 180ms;
      }
    }
  }

  .toggle-nav {
    z-index: 2;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 400ms;
    // transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    border: ($btn-diameter / 10) $modus-orange solid;
    cursor: pointer;

    background: $white;
    transition: .25s ease;

    & > svg {
      transition: .5s ease;
      fill: $modus-orange;
      width: 37%;
      margin: .3em 0 0 .15em;
    }

    &:hover {
      transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    }
  }

  .visible {
    width: ($btn-diameter * ($menu-items + 2)) + ($btn-padding * 2);

    .toggle-nav {
      background: $modus-orange;
      transition-timing-function: linear;
      transition-duration: 200ms;
      transform: scale(.8, .8) translate3d(0, 0, 0);

      & > svg {
        fill: $white;
      }
    }

    .menu-item {
      transition-timing-function: cubic-bezier(.165, .84, .44, 1);
      @for $i from 0 through $menu-items {
        &:nth-child(#{$i+2}) {
          transition-duration: 90ms + (80ms * $i);
          transform: translate3d(($btn-diameter * $i) + $btn-diameter, 0, 0);
        }
      }
    }
  }
}

@media($medium-breakpoint) {
  .gooey-placeholder {
    width: $btn-diameter-medium + ($btn-padding-medium * 2);
    height: $btn-diameter-medium + ($btn-padding-medium * 2);
  }

  .gooey-ui {
    // padding: $btn-padding-medium;
    // width: $btn-diameter-medium + ($btn-padding-medium * 2);
    // height: $btn-diameter-medium + ($btn-padding-medium * 2);

    .menu {
      width: $btn-diameter-medium + ($btn-padding-medium * 2);
      height: $btn-diameter-medium + ($btn-padding-medium * 2);
    }

    .toggle-nav,
    .menu-item {
      width: $btn-diameter-medium;
      height: $btn-diameter-medium;
      line-height: $btn-diameter-medium;
      left: $btn-padding-medium;
      top: $btn-padding-medium;
    }

    .menu-item {
      i {
        line-height: $btn-diameter-medium; // override font-awesome's settings
        font-size: ($btn-diameter-medium / 2);
      }
    }

    .toggle-nav {
      border: ($btn-diameter-medium / 10) $modus-orange solid;
    }

    .visible {
      width: ($btn-diameter-medium * ($menu-items + 2)) + ($btn-padding-medium * 2);

      .menu-item {
        @for $i from 0 through $menu-items {
          &:nth-child(#{$i+2}) {
            transform: translate3d(($btn-diameter-medium * $i) + $btn-diameter-medium, 0, 0);
          }
        }
      }
    }
  }
}
