

$main-layout-grid: (
  columns: 2,
  gutter: $grid-margin-main,
);

body {
  background-color: $page-bg-color;
}


.header-bg,
.site,
.footer-bg {
  display: block;
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  z-index: 1;
}

.site {
  background-color: $white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.centered-section,
.centered-single-column {
  @include grid-container;
  display: block;
  position: relative;
  clear: both;
  max-width: $max-width;
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

.centered-single-column {
  max-width: pem(1000);
}

.full-section {
  @include grid-container;
  display: block;
  clear: both;
  max-width: pem(1200);
  margin: 0 auto;
}

.entry-header,
.entry-content {
  @include grid-column(2, $main-layout-grid);
}

.footer-bg {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  background: $page-bg-color;
}

.entry-header {
  padding: 1em 0 0;
}

.post-navigation {
  &,
  a {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
  }

  .next {
    text-align: right;
  }

  a {
    @media($medium-breakpoint) {
      width: 50%;
    };
    clear: none;
    background: $light-gray;
    padding: $grid-margin-main;
    transition: background .2s ease;

    &:hover {
      background: darken($light-gray, 5%);
    }
  }
}
