$size-phone-up: '(min-width: 450px)';
$size-tablet-up: '(min-width: 768px)';
$grid-margin-main: 1.5rem;

// Breakpoints
$width-medium: pem(641);
$width-small:  pem(640);

$max-width: pem(1500);
$small-size: pem(720);
$large-size: pem(1140);

$col-reading-width: pem(580);

$medium-breakpoint: 'min-width: ' + $small-size;
$large-breakpoint: 'min-width: ' + $large-size;
$wordpress-small-size: 'max-width: 782px';
$wordpress-large-size: 'min-width: 783px';

$main-layout-grid: (
  columns: 2,
  gutter: $grid-margin-main,
);

body {
  background-color: $page-bg-color;
}

.site,
.footer-bg,
.header-bg {
  display: block;
  position: relative;
  clear: both;
  float: left;
  width: 100%;
}

.site {
  background-color: $white;
}

.footer-bg {
  background: $page-bg-color;
}

.centered-section,
.centered-single-column {
  @include grid-container;
  display: block;
  clear: both;
  max-width: $max-width;
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

.centered-single-column {
  max-width: pem(1000);
}

.full-section {
  @include grid-container;
  display: block;
  clear: both;
  max-width: pem(1200);
  margin: 0 auto;
}

.site-header,
.entry-header,
.entry-content {
  @include grid-column(2, $main-layout-grid);
}

.post-navigation {
  &,
  a {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
  }

  .next {
    text-align: right;
  }

  a {
    @media($medium-breakpoint) {
      width: 50%;
    };
    clear: none;
    background: $light-gray;
    padding: $grid-margin-main;
    transition: background .2s ease;

    &:hover {
      background: darken($light-gray, 5%);
    }
  }
}
