.header-common {
  .site-description {
    display: block;
    float: left;
    clear: both;
  }
}

.site-branding {
  .logo {
    position: absolute;
    left: .6em;
    top: .3em;
    width: 70%;
    max-width: pem(200);

    @media($medium-breakpoint) {
      left: .7em;
      max-width: pem(300);
    }

    @media($large-breakpoint) {
      left: .8em;
      max-width: pem(400);
    }
  }
}
