.site-header {
  .logo {
    display: block;
    float: left;
    clear: none;
    min-width: pem(250);
    max-width: pem(350);

    img {
      width: 100%;
    }
  }

  .site-description {
    display: block;
    float: left;
    clear: both;
  }
}
