.work-modal {

  & .work-modal {
    // whooops... the contents of the modal has the same class as the background...
    position: relative;
  }

  .modal-main {
    display: block;
    clear: none;
  }

  .modal-content {
    display: block;
    clear: none;
    margin: 5vh auto 3em;
    width: pem(1000);
    max-width: 90%;
  }

  .thumbs {
    button {
      background: $light-gray;
    }

    .selected {
      background: $dark-gray;
    }
  }

  .close-modal {
    &::before,
    &::after {
      background: $black;
    }
  }
}
