$bg-fade-time: .25s;

// .whole-layout {
//   transition: $bg-fade-time filter linear;
// }
//
// .blur,
// .modal-background {
//   filter: blur(5px);
//   transition: $bg-fade-time filter linear;
// }
//
// .blur-out {
//   transition: $bg-fade-time filter linear;
// }

.site-modal-container {
  position: absolute;
  z-index: 501;
  left: 0;
  top: 0;
  width: 100%;

  &.main-nav {
    z-index: 499;
  }
}

.site-modal,
.site-modal-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  transition: background $bg-fade-time linear;
}

.site-modal-out {
  background-color: transparent;
}

.site-modal-transparent-out {
  transition: background 0 linear;
}

// alternate and default background colors:
.site-modal,
.site-modal-transparent-out {
  background-color: $color-modal-background;
  color: $white;

  .main-nav & {
    background-color: $color-modal-main-nav;
  }
}

.site-modal-transparent-in {
  background-color: transparent !important;
  transition: background 0 linear;
}
